# Symfony
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/
/public/bundles/
/var/
/vendor/

# Frontend
/frontend/node_modules/

# IDE / OS
/.idea/
/.vscode/
.DS_Store
*.log

# Secretos
.env
